body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;
}

/* Cabeçalho */
header {
    background: #222;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.botao {
    background: yellow;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.cardapio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
    text-align: center;
}

.item img {
    width: 130px;
}

footer {
    background: #222;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

/* Fade-in */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Formulário */
.form-box {
    background: rgba(0,0,0,0.6);
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-box input {
    padding: 12px;
    border: none;
    border-radius: 5px;
}

.form-box button {
    padding: 12px;
    background: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.form-box button:hover {
    background: #ffdd44;
}

.texto {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.estoque-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.estoque-item {
    background: rgba(0,0,0,0.7);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.estoque-item button {
    margin: 5px;
    padding: 8px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.estoque-item button.remove {
    background: #c0392b;
}

